.member-card {
  position: relative;
  position: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  width: 320px;
  height: 400px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: var(--background-light) 0 4px 8px 0;
  background: rgb(34,211,238);
  background: linear-gradient(340deg, var(--primary-transparent-plus) 0%, rgba(100,100,100,0.1) 40%, rgba(100,100,100,0.1) 60%);
  backdrop-filter: blur(00px);
}

.member-card::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform:  translate(-50%, -50%);
  background: radial-gradient(var(--secondary-transparent), transparent, transparent);
  width: 500px;
  height: 500px;
  opacity: 0;
  transition: 0.5s, top 0s, left 0s;
}

.member-card:hover::before {
  opacity: 1;
}

.member-card::after {
  content: '';
  position: absolute;
  inset: 2px;
  border-radius: 1rem;
}